body {
	margin: 0;
}

#board {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid #000;
    width: 640px;
    height: 640px;
	transform: translate(-50%, -50%);
}

#board > .tile {
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	z-index: 6;
}
#board > .tile.black {
	background: rgba(0, 0, 0, 0.75);
}
#board > .tile.white {
	background: #fff;
}
#board > .tile.indicator {
	background: rgba(150, 150, 255, 0.5);
	cursor: pointer;
	z-index: 8;
}
#board > .tile.indicator:hover {
	background: rgba(150, 150, 255, 1) !important;
}

#board > .piece {
	position: absolute;
	width: 45px;
	height: 45px;
	background: url('../resources/chess_pieces.svg');
	background-repeat: no-repeat;
	cursor: pointer;
	transform: scale(1.5) translate(-50%, -50%);
	transform-origin: top left;
	z-index: 7;
}
#board > .piece:not(.selected):not(.disabled):hover {
	opacity: 0.5;
}
#board > .piece.selected {
	border: 2px solid rgb(150, 150, 255);
	border-radius: 10%;
}
#board > .piece.disabled {
	cursor: default !important;
}
#board > .piece.black {
	background-position-y: -45px;
}
#board > .piece.white {
	background-position-y: 0;
}
#board > .piece.pawn {
	background-position-x: -225px;
}
#board > .piece.rook {
	background-position-x: -180px;
}
#board > .piece.knight {
	background-position-x: -135px;
}
#board > .piece.bishop {
	background-position-x: -90px;
}
#board > .piece.queen {
	background-position-x: -45px;
}
#board > .piece.king {
	background-position-x: 0px;
}